.breaking_news {
    background-color:#C31815;
    width: 90%;
    font-family:"Poppins", sans-serif; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    flex-wrap: wrap;
    
}

button {
    
    color:#C31815;
    background-color: white;
    border-style: none;
    height: 40px;
    
}