.breaking_news {
    display: block;
    position: relative;
    background-color:#C31815;
    width: 80%;
    padding: 20px;
    font-family:"Poppins", sans-serif; 
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    flex-wrap: wrap;
    line-height: 30px;
    font-size: 20px;
  
    
}

button {
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
    color:#C31815;
    background-color: white;
    border-style: none;
    margin-right: 20px;
    line-height: 20px;
    height: 30px;
}