.footer {
    p {
        font-size: 30px;
    }
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #0E1E32;
    padding: 30px 30px;
    .container {
        display: flex;
        justify-content: space-evenly;}
        a, p {
           color:#FFF;
           padding: 10px 10px;
           };    
            
}

.copyright {
    display: flex;
    align-items: center;
    font-size: 12px; 

}

div {
    display: block;
    margin: 0 auto;
    
}


.widget_text {
    a{color:#FFF;}
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFF;
font-family: "Poppins", "sans-serif";
font-weight: 400;
}



   




