.footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #0E1E32;
    padding: 30px 30px;
    .container {
        display: flex;
        justify-content: space-evenly;}
        a, p {
           color:#FFF;
           padding: 10px 10px;
           };    
            
}

.copyright {
    display: flex;
    align-items: center;
    font-size: 12px; 

}

div {
    display: block;
    margin: 0 auto;
    
}

.columntwo {
    display: flex;
    flex-direction: column;
}


.options {
    a{color:#FFF;}
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    color: #FFF;
}


   


.logos{
display: flex;
flex-direction: row-reverse;
justify-content: flex end space-between;
a {
    margin-right: 10px;
    margin-left: 10px;
}
}



