.header {
    margin: 0 aut0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    a{
      margin-left: 40px;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0;      
    }
}
}
a {
    color: black;
    margin-right: 20px;
    &:last-of-type {
        margin-right: 0;
        padding-right: 0;
    }
    
    &:hover {
        background-color: rgb(178, 181, 202);
    }
    
}
